.emailList{
flex: 1;
overflow: scroll;
}
.emailList_settings{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    border-bottom: 1px solid whitesmoke;
    background-color: #fff;
    z-index: 999;
    padding-right: 10px;
}
.emailList_settingsLeft{
   display: flex;
   flex-direction: colum;
   align-items: center;

}
.emailList_settingsRight{

}
.emailList_section{
 position: sticky;
 top: 0;
 display: flex;
 border-bottom: 1px solid whitesmoke;
 background-color: white;
 z-index: 999;
}

.emailList_list{
    padding-bottom: 20%;
}